*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_container{
    width: 100vw;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
.nav_items{
    display: flex;
    gap: 20px;
}
a{
    color: white;
    text-decoration: none;
    
}
.nav_container_2{
    width: 100vw;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    
}
#search{
  height: 20px;
  width: 300px;
}



