*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    background-color: black;
    grid-template-columns: auto auto auto;
    grid-template-rows: 170px 170px 170px 170px;
    gap: 15px;
    margin: 20px;
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}
.item1{
    background-color: lightcoral;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.item2{
    background-color: lightcoral;
}
.item3{
    background-color: lightcoral;
}
.item4{
    background-color: skyblue;
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item5{
    background-color: skyblue;
    grid-column: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item6{
    background-color: skyblue;
    
}
.item7{
    background-color: plum;
    
}
.item8{
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item9{
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item10{
    background-color: palegreen;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item11{
    background-color: palegreen;
}
.item12{
    background-color: palegreen;
}